{% load static %}

<div class="iconSideBar">
    <a href="#" title="Home">
        <img src="{% static 'assets/icons/home.png' %}" alt="home" class="icon">
    </a>
    <a href="#" title="Your playlist">
        <img src="{% static 'assets/icons/playlist.png' %}" alt="playlist" class="icon">
    </a>
    <a href="#" title="Toku-san">
        <img src="{% static 'assets/icons/toku-san.png' %}" alt="toku-san" class="icon">
    </a>
    <a href="#" title="Settings">
        <img src="{% static 'assets/icons/settings.png' %}" alt="settings" class="icon">
    </a>
</div>
