
<%- include('partials/header') -%>

<div class="box about w3-animate-opacity">
    <img src="/images/profile-pic.jpeg">
    <h1>Saket Aryan</h1>
    <p>Hey! This is me Saket. I'm a professional and passionate code copier.</p>
    <p>This is my first project in which I am implementing some backend. It's not that fancy and stuff, but yeah, we all start somewhere, Right?</p>
</div>

<div class="box about w3-animate-opacity">
    <h4>Connect With Me</h4>
    <a href="https://www.linkedin.com/in/saket-aryan-131356237/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/whysosaket/"><i class="fa-brands fa-github fa-2x"></i></a>
    <a href="https://www.instagram.com/saketaryann/"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a href="https://twitter.com/whysosaket"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/saket.aryan"><i class="fa-brands fa-facebook fa-2x"></i></a>
</div>


<%- include('partials/footer') -%>