<link rel="stylesheet" href="/css/index.css" />

<div class="index-div">
    <img src="images/indexBG.webp" alt="image" class="index-img fade1 img2" width="95%">

    <h1 class="">Welcome to the Fake Bank Of India</h1>

    <div class="left-div fade4">
        <h2>Online Banking</h2>
        <hr>
        <p>You're just a click away from unlocking happiness!</p>
        <button class="button btn2"><span>Secure Login </span></button>
        

        <div class="hide">
            <p class="forgot">Forgot username/password?</p>

            <p>Our online banking is 100% secure and safe! We use the latest encryption technology to keep your data safe.</p>
             <p>   More than 2 million people have already joined us!</p>
            
        </div>
       
    </div>

    <div class="right-div fade3">
        <h4>The Bank Of Convenience</h4>
        <h2>Earn more on your money with an increased rate of 6.00%</h2>
        <button class="button"><span>Learn More </span></button>
    </div>
</div>