{% extends "basic.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container-fluid hero-content">
  <div class="row align-items-center">
    <div class="col-md-6 col-sm-12 text-center" data-aos="fade-up">
      <h1>Money transfer got EASY.</h1>
      <p class="lead muted">TRANSFER YOUR MONEY WITH EASE.</p>
      <p>This project is made by <a href="https://github.com/sudo-gyan/BasicBankingSite" style="color: #ff3000;" target="_blank">Gyanaranjan Sahoo</a> under <a href="https://www.thesparksfoundationsingapore.org" style="color: aqua;" target="_blank">The Sparks Foundation</a>.</p>
      <br>
      <br>
      <a class="get-started" href="/dashboard">Open Dashboard</a>
    </div>
    <div class="col-md-6 col-sm-12 text-center" data-aos="fade-left">
      <div class="hero-img-div">
        <img class="hero-img" src="/static/media/hero-img.svg" alt="img-showing-money-transfer">
      </div>
    </div>
  </div>
</div>
<script>
  AOS.init({
    duration: 700,
  });
  document.body.style.backgroundColor='#ffcb2c';
</script>
{% endblock %}
