<footer>
    <div class="full-container font-white">
        <div class="container px790">
            <div class="row">
                <a href="https://github.com/dipanshu-m" target="_blank">
                    <p>Github Repository</p>
                </a>
                <a href="mailto:d1p@duck.com">
                    <p>Contact</p>
                </a>
            </div>
            <div class="rightbottom">
                <p>
                    Made with &#10084;&#65039; by Dipanshu
                </p>
                <p>
                    ULearn &copy; 2022
                </p>
            </div>
        </div>
    </div>
</footer>
<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        background: var(--grey-100);
        margin-top: 50px;
        overflow: hidden;
        
    }
    footer .container {
        padding-top: 3em;
        padding-bottom: 5em;
    }

    footer .row {
        display: flex;
    }

    footer .container div {
        margin-bottom: 0.5em;
    }

    footer .row a {
        margin-right: 10%;
    }

    footer .row * {
        width: fit-content;
        height: fit-content;
    }
</style>