<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../static/logo.png" type="image/icon type" />
    <link rel="stylesheet" href="../tasks/tasks.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2: ULearn</title>
</head>

<body>
    <!-- header -->
    <%- include('header.ejs') %>

        <h1 class="heading container px790">Lecture: 2- Basics of CSS</h1>
        <h2 class="description container px790" style="font-weight: 500;">
            <strong>Cascading Style Sheets (CSS)</strong> is a style sheet language used for describing the presentation
            of a document
            written in a markup language such as HTML.
            <br>
            CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
            <br><br>
            CSS is designed to enable the separation of presentation and content, including layout, colors, and
            fonts.
            <br>
            This separation can improve content accessibility; provide more flexibility and control in the
            specification of presentation characteristics; enable multiple web pages to share formatting by specifying
            the relevant CSS in a separate .css file, which reduces complexity and repetition in the structural content;
            and enable the .css file to be cached to improve the page load speed between the pages that share the file
            and its formatting.
        </h2>
        <div class="px790 container">
            <iframe width="100%" src="https://www.youtube-nocookie.com/embed/ieTHC78giGQ" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen id="player"></iframe>
        </div>

        <div class="container px790 nav">
            <button class="previous-lesson" onclick="previousLesson()">
                <h3>Previous Lesson</h3>
            </button>
            <% if(user.completed[1]) { %>
                <a href="/tasks">
                    <h3>Back to Homepage</h3>
                </a>
                <% } else { %>
                    <button class="complete" onclick="completed()">
                        <h3>Mark as Complete</h3>
                    </button>
                    <% } %>

                        <button class="previous-lesson" onclick="nextLesson()">
                            <h3>Next Lesson</h3>
                        </button>
        </div>
        <!-- footer -->
        <%- include('footer.ejs') %>

</body>
<script>
    const player = document.getElementById("player");
    document.querySelector('header h1').addEventListener('click', () => {
        window.location.href = '/tasks';
    })
    window.addEventListener("load", playerSizer);
    window.addEventListener("resize", playerSizer);
    function playerSizer() {
        // console.log(window.outerWidth);
        var width = player.offsetWidth;
        // console.log(width);
        player.height = (width * 0.5625);
    }
    function previousLesson() {
        window.location.href = '/task/1'
    }
    function nextLesson() {
        window.location.href = '/task/3'
    }
    
    async function completed() {
        await fetch('/task/2', {
            method: 'put',
            headers: { 'Content-Type': 'application/json' }
        })
        nextLesson();
    }
    
</script>
<style>
    .heading {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .description {
        margin-bottom: 2em;
    }
    @media (min-height: 1150px) and (max-width: 700px) {
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    @media (min-height: 1550px) and (min-width: 700px) {
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
</style>

</html>