body{
    font-family: 'Montserrat';
    font-weight: 300;
    color: white;
}
.report-page .bg-img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin: 0px;
}
.form{
    background-color: rgba(41, 39, 39, 0.3);
    width: 400px;
    margin: auto;
    border-radius: 3px;
    padding: 1rem;
    text-align: left;
}
label{
    padding: 1rem ;
    
}
.message-box{
    text-align: center;
    margin: auto;
}
.head-report{
 text-align:center;
 font-size:2.5rem;
 }
 .button{
 text-align:center;
}
.text{
text-align:left;
float:right;
margin:10px 0px;
}
